<style>

</style>

<div class="col-md-12 item article-widget">
    <h2>
        <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: 'breves-de-comptoir'}) }}"
           title="Voir toutes les brèves de comptoir">Brèves de Comptoir</a>
    </h2>

    <ul>
        {% for article in articles %}
        <li>
            <a href="{{ path('lecomptoir.article.show', article.urlParameters) }}"
               title="Voir l'article {{ article.title }}">
                <i class="fa fa-angle-double-right "></i>
                {{ article.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: 'breves-de-comptoir'}) }}"
       title="Voir toutes les brèves de comptoir"
       class="more-link">Voir plus de brèves...</a>
</div>
