<div id="gallery-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'cms.gallery.add_gallery' | trans }}</h4>
            </div>
            <div class="modal-header">
                <label for="file-upload">{{ 'cms.gallery.upload_media' | trans }}</label>
                <input type="file" id="file-upload" name="file-upload"
                       data-url="{{ oneup_uploader_endpoint('media_gallery') }}" multiple>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="media-container"
                         class="col-lg-12">
                        {# media gallery will be here #}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">{{ 'cms.main.cancel' | trans }}</button>
                <button type="submit"
                        id="add-gallery-btn"
                        class="btn btn-primary">{{ 'cms.gallery.add_gallery' | trans }}</button>
            </div>
        </div>
    </div>
</div>
