{% extends "LAGAdminBundle::admin.layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bluebearcms/css/cms.css') }}">
{% endblock %}

{% block mainTitle %}
    <a href="{{ path('bluebear.cms.homepage') }}" class="navbar-brand">Le comptoir des noisettes</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/jkcms/js/cms.js') }}"></script>

    <script>
        $(document).on('ready', function () {
            var translations = {
                addGallery: "{{ 'cms.gallery.add_gallery' | trans | raw }}"
            };
            var routes = {
                modalGallery: '{{ path('cms.media.gallery.modal') }}',
                galleryContent: '{{ path('cms.media.gallery.content') }}'
            };
            var galleryModal = $('#gallery-modal');

            tinymce.init({
                selector: '.tinymce',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools'
                ],
                toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons code | add_gallery add_gallery',
                image_advtab: true,
                imagetools_toolbar: "rotateleft rotateright | flipv fliph | editimage imageoptions",
                height: 600,
                content_css: '{{ asset('bundles/jkcms/css/tinymce.css') }}',
                body_class: 'mceForceColors container',
                content_style: 'body.container {background-color:#eeeae8; padding:20px 60px;}',
                setup: function (editor) {
                    editor.addButton('add_gallery', {
                        text: translations.addGallery,
                        icon: false,
                        onclick: function () {
                            galleryModal.on('show.bs.modal', function () {
                                galleryModal.find('#media-container').load(routes.modalGallery);
                            });
                            galleryModal.modal('show');
                        }
                    });
                }
            });

            $('#file-upload').fileupload({
                done: function () {
                    galleryModal.find('#media-container').load(routes.modalGallery);
                }
            });

            $('#add-gallery-btn').on('click', function () {
                var selectedMedias = galleryModal.find('.media a.selected');

                if (selectedMedias.length == 0) {
                    return;
                }
                var ids = [];

                selectedMedias.each(function (index, value) {
                    ids.push($(value).data('id'));
                });
                var route = routes.galleryContent + '?ids=' + ids.join(',');

                $.get(route, function (data) {
                    tinymce.activeEditor.execCommand('mceInsertContent', false, data);
                    galleryModal.modal('hide');
                });
            });
        });
    </script>

    {% include '@JKCms/Media/modal.html.twig' %}
{% endblock %}

