{% extends "LAGAdminBundle::admin.layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bluebearcms/css/cms.css') }}">

    <style>
        .mce-close::before {
            content: "";
            float: right;
        }
    </style>
{% endblock %}

{% block mainTitle %}
    <a href="{{ path('bluebear.cms.homepage') }}" class="navbar-brand">Le comptoir des noisettes</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}"></script>

    <script>
        $(document).on('ready', function () {

            tinymce.init({
                selector: '.tinymce',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools'
                ],
                toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons code mybutton | code',
                image_advtab: true,
                imagetools_toolbar: "rotateleft rotateright | flipv fliph | editimage imageoptions",
                height: 300,
                setup: function (editor) {
                    editor.addButton('mybutton', {
                        text: 'My button',
                        icon: false,
                        onclick: function () {

                            $('#myModal').modal('show');

                            {#editor.windowManager.open({#}
                                {#title: 'My html dialog',#}
                                {#url: '{{ path('cms.image.gallery_dialog') }}',#}
                                {#width: 700,#}
                                {#height: 600#}
                            {#});#}

                            {#editor.insertContent('&nbsp;<b>It\'s my button!</b>&nbsp;');#}
                        }
                    });
                }
            });


        });
    </script>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                        
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{{ asset('img/books.jpg') }}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Media heading</h4>
                                    ...
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
{% endblock %}

