<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/lecomptoirdelecureuilfront/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/lecomptoirdelecureuilfront/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/lecomptoirdelecureuilfront/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/lecomptoirdelecureuilfront/css/hover-min.css') }}">
    {% stylesheets '@LeComptoirDeLEcureuilFrontBundle/Resources/scss/main.scss' filter='compass, cssrewrite' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
    <link rel='stylesheet' id='googlefonts-css'
          href='http://fonts.googleapis.com/css?family=Redressed:400|Gabriela:400|Playball:400|Gabriela:400&subset=latin'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='ubuntu-css'
          href='http://fonts.googleapis.com/css?family=Ubuntu%3A300%2C400%2C700&#038;ver=4.1' type='text/css'
          media='all'/>
    <meta charset="UTF-8"/>
</head>
<body>

{% block container %}{% endblock %}
<div class="container">
    {# site header : logo and title#}
    {% include '@LeComptoirDeLEcureuilFront/Main/header.html.twig' %}

    {# main menu #}
    {% include '@LeComptoirDeLEcureuilFront/Main/navbar.html.twig' %}

    <div class="row">
        {# left column #}
        {% include '@LeComptoirDeLEcureuilFront/Main/left.html.twig' %}

        <!-- content center column -->
        <div class="main-content col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="thumbnail hvr-sweep-to-bottom">
                        <img src="img/category-1.jpg" alt="Littérature" title="Littérature">

                        <div class="overlay">Littérature</div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="thumbnail hvr-sweep-to-bottom">
                        <img src="img/category-4.jpg" alt="...">

                        <div class="overlay">Manga / BD</div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="thumbnail hvr-sweep-to-bottom">
                        <img src="img/category-4.jpg" alt="...">

                        <div class="overlay">Séries</div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="thumbnail hvr-sweep-to-bottom">
                        <img src="img/category-1.jpg" alt="...">

                        <div class="overlay">Sorties</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-row">
        <div class="col-lg-12 latest-article">
            <h2>Dernières parutions</h2>

            <div class="row">
                <div class="col-md-6 article">
                    <h2 class="ribbon">Littérature</h2>
                    <a href=""><img src="img/cover-batard.jpg"/></a>
                    <span class="date">vendredi, 1 mai 2015</span>
                    <h3><a href="#">Le bâtard de Kosigan</a></h3>
                    <a href="#"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                            odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p></a>
                </div>
                <div class="col-md-6 article">
                    <h2 class="ribbon">Manga/Bd</h2>
                    <img src="img/cover-or.jpg"/>
                    <span class="date">vendredi, 1 mai 2015</span>
                    <h3>Or & Nuit</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 article">
                    <h2 class="ribbon">Séries</h2>
                    <img src="img/cover-or.jpg"/>
                    <span class="date">vendredi, 1 mai 2015</span>
                    <h3>Or & Nuit</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem </p>
                </div>
                <div class="col-md-6 article">
                    <h2 class="ribbon">Sorties</h2>
                    <img src="img/cover-batard.jpg"/>
                    <span class="date">vendredi, 1 mai 2015</span>
                    <h3>Le bâtard de Kosigan</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 article">
                    <img src="img/cover-batard.jpg"/>
                    <span class="date">vendredi, 1 mai 2015</span>
                    <h3>Le bâtard de Kosigan</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem </p>
                </div>
                <div class="col-md-6 article">
                    <img src="img/cover-or.jpg"/>
                    <span class="date">vendredi, 1 mai 2015</span>
                    <h3>Or & Nuit</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-row">
        <footer>
            <p>Site sous le copyright des noisettes - Le Comptoir De L'Ecureuil 2015<br/></p>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Plan du site</a></li>
                <li><a href="#">Partenariat</a></li>
            </ul>
        </footer>
    </div>
</div>
</body>
</html>


