<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/lecomptoirdelecureuilfront/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/lecomptoirdelecureuilfront/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/lecomptoirdelecureuilfront/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/lecomptoirdelecureuilfront/css/hover-min.css') }}">
    {% stylesheets '@LeComptoirDeLEcureuilFrontBundle/Resources/scss/main.scss' filter='compass, cssrewrite' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
    <link rel='stylesheet' id='googlefonts-css'
          href='http://fonts.googleapis.com/css?family=Redressed:400|Gabriela:400|Playball:400|Gabriela:400&subset=latin'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='ubuntu-css'
          href='http://fonts.googleapis.com/css?family=Ubuntu%3A300%2C400%2C700&#038;ver=4.1' type='text/css'
          media='all'/>
    <meta charset="UTF-8"/>
</head>
<body>

{% block container %}{% endblock %}
<div class="container">
    {# site header : logo and title#}
    {% include '@LeComptoirDeLEcureuilFront/Main/header.html.twig' %}

    {# main menu #}
    {% include '@LeComptoirDeLEcureuilFront/Main/navbar.html.twig' %}

    <div class="row">
        {# left column #}
        {% include '@LeComptoirDeLEcureuilFront/Main/left.html.twig' %}

        <!-- content center column -->
        <div class="main-content col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="thumbnail hvr-sweep-to-bottom">
                        <img src="/img/category-1.jpg" alt="Littérature" title="Littérature">

                        <div class="overlay">Littérature</div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="thumbnail hvr-sweep-to-bottom">
                        <img src="/img/category-4.jpg" alt="...">

                        <div class="overlay">Manga / BD</div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="thumbnail hvr-sweep-to-bottom">
                        <img src="/img/category-4.jpg" alt="...">

                        <div class="overlay">Séries</div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="thumbnail hvr-sweep-to-bottom">
                        <img src="/img/category-1.jpg" alt="...">

                        <div class="overlay">Sorties</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% block latestArticles %}{% endblock %}

    <div class="row margin-row">
        <footer>
            <p>Site sous le copyright des noisettes - Le Comptoir De L'Ecureuil 2015<br/></p>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Plan du site</a></li>
                <li><a href="#">Partenariat</a></li>
            </ul>
        </footer>
    </div>
</div>
</body>
</html>


