<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'cms.gallery.add_image' | trans }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div id="image-form-container" class="col-lg-12">
                <form action="{{ path('cms.media.add_image_modal') }}"
                      method="post"
                      enctype="multipart/form-data">

                    <div class="form-group">
                        {{ form_row(form.uploadType) }}
                    </div>

                    <div class="form-group hidden media-choice-item">
                        {{ form_row(form.url) }}
                    </div>

                    <div class="form-group hidden media-choice-item">
                        {{ form_row(form.upload) }}
                    </div>

                    <div class="form-group hidden media-choice-item media-gallery-item">
                        {#{% include '@JKCms/Media/modalGallery.html.twig' %}#}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
        data-dismiss="modal">{{ 'cms.main.cancel' | trans }}</button>
        <button type="button" id="add-image-btn"
        class="btn btn-primary">{{ 'cms.gallery.add_image' | trans }}</button>
    </div>
</div>

<script>
   // MediaGallery.init();

    $('.media-choice').on('change', function () {
        var value = $(this).find(':checked').val();

        if (value === 'upload_from_url') {
            $('.media-choice-item').addClass('hidden');
            $('.upload_from_url').parents('.media-choice-item').removeClass('hidden');
        } else if (value === 'upload_from_computer') {
            $('.media-choice-item').addClass('hidden');
            $('.upload_from_computer').parents('.media-choice-item').removeClass('hidden');
        } else if (value === 'choose_from_collection') {
            $('.media-choice-item').addClass('hidden');
            $('.media-gallery-item').removeClass('hidden');
        }
    });

    $('#add-image-btn').on('click', function () {

//        var ids = MediaGallery.getSelectedMediaIds();
//
//
//        $.get(route, function (data) {
//            tinymce.activeEditor.execCommand('mceInsertContent', false, data);
//            galleryModal.modal('hide');
//        });

        return false;
    });
</script>
