<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/hover-min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel='stylesheet' id='googlefonts-css'
          href='http://fonts.googleapis.com/css?family=Redressed:400|Gabriela:400|Playball:400|Gabriela:400&subset=latin'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='ubuntu-css'
          href='http://fonts.googleapis.com/css?family=Ubuntu%3A300%2C400%2C700&#038;ver=4.1' type='text/css'
          media='all'/>
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta charset="UTF-8"/>
    <title>{% block title %}Le Comptoir de l'écureuil{% endblock %}</title>
</head>
<body>

{% block container %}
<div class="container">
    {# site header : logo and title#}
    {% include '::Main/header.html.twig' %}
    {# main menu #}
    {% include '::Main/navbar.html.twig' %}

    <div class="row">
        {# left column #}
        {% block left %}
            {% include '::Main/left.html.twig' %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>
    {% block latestArticles %}{% endblock %}

    <div class="row margin-row">
        <footer>
            <p>Site sous le copyright des noisettes - Le Comptoir De L'Ecureuil 2015<br/></p>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Plan du site</a></li>
                <li><a href="#">Partenariat</a></li>
            </ul>
        </footer>
    </div>
</div>
{% endblock %}

<script src="{{ asset('bundles/lagadmin/js/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/lagadmin/js/bootstrap.min.js') }}"></script>
</body>
</html>


