{% extends '@JKCms/base.html.twig' %}

{% block content %}
    <h1>{{ 'import.create' | trans }}</h1>

    <div class="well">
        <form action="{{ path('lecomptoir.cms.import.create') }}"
              method="post" class="form-horizontal" enctype="multipart/form-data">
            {{ form_widget(form) }}

            <div class="form-group">
                <div class="text-right button-list">
                    <a href="{{ path('lecomptoir.cms.import.list') }}" class="btn">
                        <i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;{{ 'lag.admin.cancel' | trans }}</a>
                    <button type="submit" value="save" name="submit" class="btn btn-default">
                        {{ 'lag.admin.save' | trans }}<i class="fa fa-floppy-o"></i></button>
                    <button type="submit" value="save-return" name="submit" class="btn btn-default">
                        {{ 'lag.admin.save_and_return_to_list' | trans }}
                        <i class="fa fa-list"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
