<div class="row margin-row">
    <footer>
        <p>Site sous le copyright des noisettes - Le Comptoir De L'Ecureuil 2015<br/></p>
        <ul>
            <li>
                <a href="{{ path('lecomptoir.contact') }}" title="{{ 'lecomptoir.footer.contact_title' | trans }}">
                    <i class="fa fa-envelope"></i>&nbsp;{{ 'lecomptoir.footer.contact' | trans }}</a>
            </li>
            <li>
                <a href="{{ path('lecomptoir.sitemap') }}" title="{{ 'lecomptoir.footer.sitemap_title' | trans }}">
                    <i class="fa fa-sitemap"></i>&nbsp;{{ 'lecomptoir.footer.sitemap' | trans }}</a>
            </li>
            <li>
                <a href="{{ path('lecomptoir.legal') }}" title="{{ 'lecomptoir.footer.legal_title' | trans }}">
                    <i class="fa fa-gavel"></i>&nbsp;{{ 'lecomptoir.footer.legal' | trans }}
                </a>
            </li>
            <li><a href="#"><i class="fa fa-briefcase"></i>&nbsp;Partenariats</a></li>
            <li><a href="{{ path('lecomptoir.feed') }}"><i class="fa fa-rss"></i>&nbsp;Rss</a></li>
        </ul>
    </footer>
</div>
