{% extends "::layout.html.twig" %}

{% block content %}
    <div class="main-content col-sm-9 col-sd-9 col-lg-9">
        <div class="row">
            <div class="col-md-6">
                {% if categories['litterature'] is defined %}
                    {% set category = categories['litterature'] %}

                    <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: category.slug}) }}"
                       class="thumbnail hvr-sweep-to-bottom" title="{{ category.description }}">
                        <img src="/img/books.jpg" alt="{{ category.name }}" title="{{ category.description }}">

                        <div class="overlay">{{ category.name }}</div>
                    </a>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if categories['manga-bd'] is defined %}
                    {% set category = categories['manga-bd'] %}

                    <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: category.slug}) }}"
                       class="thumbnail hvr-sweep-to-bottom" title="{{ category.description }}">
                        <img src="/img/mangas.jpg" alt="{{ category.name }}" title="{{ category.description }}">

                        <div class="overlay">{{ category.name }}</div>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if categories['sorties']  is defined %}
                    {% set category = categories['sorties'] %}
                    <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: category.slug}) }}"
                       class="thumbnail hvr-sweep-to-bottom" title="{{ category.description }}">
                        <img src="/img/hermione.jpg" alt="{{ category.name }}" title="{{ category.description }}">

                        <div class="overlay">{{ category.name }}</div>
                    </a>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if categories['rencontres'] is defined %}
                    {% set category = categories['rencontres'] %}
                    <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: category.slug}) }}"
                       class="thumbnail hvr-sweep-to-bottom" title="{{ category.description }}">
                        <img src="/img/books.jpg" alt="{{ category.name }}" title="{{ category.description }}">

                        <div class="overlay">{{ category.name }}</div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block latestArticles %}
    <div class="row margin-row">
        <div class="col-lg-12 latest-article">
            <h2>{{ 'lecomptoir.lastest_articles' | trans }}</h2>

            <div class="row">
                {% for article in articles %}
                    {% set categoryUrl = path('lecomptoir.article.list_by_category', {categorySlug: article.category.slug}) %}
                    {% set categoryLinkTitle = 'lecomptoir.article.go_to_category' | trans({'%category%': article.category.name}) %}
                    {% set articleUrl = path('lecomptoir.article.show', article.urlParameters) %}
                    {% set articleLinkTitle = 'lecomptoir.article.go_to_read' | trans({'%article%': article.title}) %}

                    <div class="col-md-6 article-item">
                    <h2 class="ribbon">
                        <a href="{{ categoryUrl }}" title="{{ categoryLinkTitle }}">
                            {{ article.category.name }}
                        </a>
                    </h2>
                    <a href=""><img src="/img/cover-batard.jpg"/></a>
                    <span class="title-date">{{ article.publicationDate | localizeddate('full', 'none') }}</span>

                    <h3>
                        <a href="{{ articleUrl }}" title="{{ articleLinkTitle }}">{{ article.title }}</a>
                    </h3>

                    <p>{{ article.content | striptags | truncate(350) | raw }}
                        <a href="{{ articleUrl }}" title="{{ articleLinkTitle }}" class="more-link">
                            {{ 'lecomptoir.interface.more_link' | trans }}
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </p>

                    {% if loop.index is divisible by(2) %}
                        </div>
                        <div class="row">
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
