<nav class="main-menu navbar navbar-default row">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path('lecomptoir.homepage') }}" title="{{ 'lecomptoir.menu.home' | trans }}">
                <i class="fa fa-home"></i><span class="sr-only">(current)</span></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle " title="{{ 'lecomptoir.menu.articles' | trans }}"
               data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                &nbsp;{{ 'lecomptoir.menu.articles' | trans }}
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: 'litterature'}) }}"
                       title="{{ 'lecomptoir.category.litterature' | trans }}" class="">
                        <i class="fa fa-home"></i>{{ 'lecomptoir.category.litterature' | trans }}</a>
                </li>
                <li>
                    <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: 'manga-bd'}) }}"
                       title="{{ 'lecomptoir.category.manga-bd' | trans }}" class="">
                        <i class="fa fa-home"></i>{{ 'lecomptoir.category.manga-bd' | trans }}</a>
                </li>
                <li>
                    <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: 'rencontres'}) }}"
                       title="{{ 'lecomptoir.category.rencontres' | trans }}" class="">
                        <i class="fa fa-home"></i>{{ 'lecomptoir.category.rencontres' | trans }}</a>
                </li>
                <li>
                    <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: 'sorties'}) }}"
                       title="{{ 'lecomptoir.category.sorties' | trans }}" class="">
                        <i class="fa fa-home"></i>{{ 'lecomptoir.category.sorties' | trans }}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" title="{{ 'lecomptoir.menu.contact' | trans }}" class="">
                {{ 'lecomptoir.menu.contact' | trans }}<span class="sr-only">(current)</span>
            </a>
        </li>
        <li>
            <a href="#" title="{{ 'lecomptoir.menu.who-am-i' | trans }}" class="">
                {{ 'lecomptoir.menu.who-am-i' | trans }}<span class="sr-only">(current)</span>
            </a>
        </li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ 'lecomptoir.menu.search' | trans }}">
        </div>
        <button type="submit" class="btn hvr-bounce-in"><i class="fa fa-search"></i></button>
    </form>
</nav>
