{% extends '::layout.html.twig' %}

{% block content %}
    <div class="col-lg-9 main-content latest-article">
        <h2>{{ filter.parameters | keys | join(', ') }}</h2>

        <div class="row">
            {% for article in articles %}
                {% set articleUrl = path('lecomptoir.article.show', article.urlParameters) %}
                {% set articleLinkTitle = 'lecomptoir.article.go_to_read' | trans({'%article%': article.title}) %}

                <div class="col-md-6 article-item">
                    <h2 class="ribbon">
                        <a href="" title="">
                            {{ article.category.name }}
                        </a>
                    </h2>
                    <a href=""><img src="/img/cover-batard.jpg"/></a>
                    <span class="title-date">{{ article.publicationDate | localizeddate('full', 'none') }}</span>

                    <h3>
                        <a href="{{ articleUrl }}" title="{{ articleLinkTitle }}">{{ article.title }}</a>
                    </h3>
                    <a href="{{ articleUrl }}" title="{{ articleLinkTitle }}">
                        <p>{{ article.content | striptags | truncate(350) | raw }}</p>
                    </a>
                    {% if loop.index is divisible by(2) %}
                        </div>
                        <div class="row">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

