{% extends '::layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="main-content col-lg-9 article">
        <div class="article-header">
            <div class="article-title">
                <span class="title-date">{{ article.publicationDate | localizeddate('full', 'none') }}</span>

                <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: article.category.slug}) }}"
                   title="{{ article.category.slug }}">
                    <span class="ribbon category-ribbon">{{ article.category.name }}</span></a>
                <h2>{{ article.title }}</h2>
            </div>
            <div class="article-thumbnail">
                {% if article.thumbnail.filepath is defined %}
                    {{ article.thumbnail.filepath }}
                {% endif %}
            </div>
        </div>
        <div class="article-content">
            {{ article.content | raw }}
        </div>
        <div class="article-footer">
            <ul>
                <li>
                    <strong>{{ 'lecomptoir.interface.categories' | trans }} :</strong>
                    <a href="{{ path('lecomptoir.article.list_by_category', {categorySlug: article.category.slug}) }}">
                        {{ article.category.name }}
                    </a>
                </li>
                <li>
                    <strong>{{ 'lecomptoir.tags' | trans }} :</strong>
                    <ul class="inline">
                        {% for tag in article.tags %}
                            <li class="tag">
                                <a href="{{ path('lecomptoir.article.list_by_tag', {tagSlug: tag.slug}) }}">{{ tag.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            {# Article comments (if allowed) #}
            {% if article.isCommentable %}
                <div class="article-comments">

                    {# Add comment form #}
                    <form action="" method="post">
                        {{ form_row(commentForm) }}

                        <input type="submit" value="Poster un commentaire" class="btn btn-info comments-btn" />
                    </form>


                    {% for comment in article.comments %}
                        <div class="comment">
                            <p class="title">Par {{ comment.authorName }}, le {{ comment.createdAt | localizeddate('full') }}</p>
                            <p class="">{{ comment.content }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

