{% extends "BlueBearAdminBundle::admin.layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets '@LeComptoirDeLEcureuilBackBundle/Resources/public/scss/*.scss'
    filter='compass, ?cssrewrite, ?yui_css' output="css/backoffice.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block topMenu %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('lecomptoir.admin.homepage') }}">Le comptoir des noisettes</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-expanded="false">Content<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="{{ getClassForRoute('bluebear.cms.content.list') }}">
                                <a href="">Articles</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{{ getClassForRoute('fos_user_security_logout') }}">
                        <a href="{{ path('bluebear_admin_user_list') }}">{{ 'bluebear.cms.users' | trans }}</a>
                    </li>
                    <li class="{{ getClassForRoute('fos_user_security_logout') }}">
                        <a href="{{ path('fos_user_security_logout') }}">Logout ({{ app.user.username}})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
lol ?
{% endblock %}