<div class="left-menu col-sm-3 col-md-3 col-lg-3">
    <div class="row">
        <div class="col-md-12 item who-am-i">
            <h2>Qui suis-je ?</h2>

            <div>Freelance motivée et partante pour l'aventure, je suis à l'écoute de tous vos projets, dans les
                domaines de la rédaction et de la communication.</div>
            <div class="thumbnails">
                <a href="https://fr-fr.facebook.com/lecomptoirde.lecureuil/"
                   title="Aller sur la page Facebook de l'écureuil"
                   target="_blank">
                    <img class="hvr-bounce-in"
                         alt="Suivez le comptoir de l'écureuil sur Facebook"
                         src="/img/thumbail-1.jpg"/>
                </a>
                <span>Estelle Hamelin</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 item social-list">
            <a href="https://twitter.com/Chacureuil"
               target="_blank"
               title="{{ 'lecomptoir.left.twitter' | trans }}">
                <i class="fa fa-twitter fa-5x hvr-bounce-in"></i><span class="sr-only">Twitter</span>
            </a>
            <a href="https://fr-fr.facebook.com/lecomptoirde.lecureuil/"
               target="_blank"
               title="{{ 'lecomptoir.left.facebook' | trans }}">
                <i class="fa fa-facebook fa-5x hvr-bounce-in"></i>
            </a>
            <a href="https://plus.google.com/+SalveenaChacureuil/posts"
               target="_blank"
               title="{{ 'lecomptoir.left.google_plus' | trans }}">
                <i class="fa fa-google-plus fa-5x hvr-bounce-in"></i>
            </a>
            <a href="https://www.linkedin.com/in/estelle-hamelin-8202a646"
               target="_blank"
               title="{{ 'lecomptoir.left.linkedin' | trans }}">
                <i class="fa fa-linkedin-square fa-5x hvr-bounce-in"></i>
            </a>
        </div>
    </div>
    <div class="row">
        {{ render(controller('JKCmsBundle:Module:render', {zone: 'left'})) }}
    </div>
</div>
